body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
}

.poga{
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background-color: chocolate;
    font-size: 40px;
    color: antiquewhite;
    font-weight: bold;
}
.poga:hover{
    opacity: 0.8;
    transition: ;
}